
body{
    font-family: 'Open Sans', sans-serif;
}
.form-control {
  margin-bottom: 0px !important;
}
.form-control:focus{
  border-color:blue !important;
  -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #67b168;
  box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #67b168}
.page-section{
  padding-top: 50px;
}
.color-secondary{
  color: #22A7F0;
}
.bgc-blue{
    background-color: #2261A1;
}
.bgc-light-blue{
    background-color: #22A7F0;
}
.bgc-white{
    background-color: #FFFFFF;
}
.btn-pmb{
  padding: 10px 40px;
  background-color: #2261A1;
}
.btn-lainnya{
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
  background: none;
  border: 1px solid #22a7f0 !important;
  border-radius: 2px;
  margin-bottom: 5px;
}
.btn-lainnya:hover{
  background-color: #22a7f0;
}

.flag{
  width: 14px;
}

.main-nav .left-bg{
  position: absolute;
  background-color: #22A7F0;
  height: 100px;
  width: 100%;
  left: -100%;
  z-index: 2;
}
.main-nav .__middle .megatron {
    height: 70px;
}
.main-nav .__middle .nav-content-wrapper, .main-nav .__middle .megatron {
    height: 70px;
}
.main-menu > ul > li > ul.multi-floor-menu a {
    padding: 10px 20px;
}
.main-menu > ul > li ul {
    border-bottom: 2px solid #22A7F0;
}
.main-nav .right-bg{
  position: absolute;
  background-color: #C2C2C2;
  height: 140px;
  width: 12.5%;
  left: 100%;
  z-index: 2;
  top: 0px;
}
.home-slider-1{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  height: 480px;
}
.home-slider-1 img {
    width: 100%;
    height: 100%;
}
.container.container-home{
  width: 90%;
}

.main-nav .__header, .main-nav .__middle{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.main-nav .__header .container{
  width: 100%;
}
.main-nav .__middle{
  background: #2261A1;
}
.main-menu > ul > li > a {
    color: white;
}
.main-nav .__middle .main-menu > ul > li > a {
    padding-top: 20px;
    padding-bottom: 20px;
}
.main-nav .__middle .main-menu > ul > li > a:hover {
  background-color: #22A7F0;
}
.megatron.inline .logo {
    width: 250px;
    height: auto;
}
.megatron .logo img {
    width: 175px;
    height: 100%;
}
.pengurus-section{
    padding-top: 20px;
    padding-bottom: 30px;
}
.pengurus-section img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.article .inner{
    padding: 10px;
}

.article .article-image{
    width: 30%;
    float:left;
    padding-right: 10px;
}
.article .deskripsi{
    width: 60%;
    float:left;
    padding-left: 10px;
}
.article .short-desc{
    line-height: 1.8;
}
.article .detail.post{
    padding-bottom: 0px;
}
.article .detail.post .__meta{
    margin-bottom: 0px;
}

.caption-slider .caption-wrapper{
    width: 50%;
    float: right;
}
.caption-slider h1{
    color: white;
    background: rgba(128, 128, 128, 0.50);
    padding: 15px;
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin-bottom: 15px;
    height: 300px;
    padding: 20px;

}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.card .time{
  font-size: 10px;
}
.card a{
  white-space: normal;
  font-size: 12px;
  font-weight: 600;
}
.card h3{
  line-height: 0.8;
}

/* Add some padding inside the card container */
.card .container {
    padding: 8px 10px;
    width: 100%;
}


.adibuana-header .header{
  border-bottom: 4px solid #22A7F0;
  margin-bottom: 20px;
}
.adibuana-header .header .icon{
  color: #FFFFFF;
}
.adibuana-header .header .title span{
  padding: 10px;
  padding-bottom:8px;
  font-size: 16px;
  background:#22A7F0;
  color:white;
  font-weight:400;
  line-height: 1;

  
}
.bg-footer{
  background: #22A7F0;
  height: 60px;
}
span.title{
  font-size: 20px;
  margin-left: 5px;
  font-weight: 600;
}
span.title span{
  color: #F87462;
}
section#middle-section{
  background: #EEEEEE;
  padding-top: 40px;
  padding-bottom: 40px;

}

.pengumuman ul .date{
  width: 20%;
  float: left;
  text-align: center;
}

.pengumuman .date .tanggal{
  font-size: 24px;
  font-weight: 600;
  line-height: 1;
}
.pengumuman .date .bulan{
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
}

.pengumuman ul .deskripsi{
  float: left;
  width: 80%;
  line-height: 1.4;
  font-size:12px;
}

.pengumuman ul li{
   border-left: 4px solid gray;
}

.pengumuman ul li:hover{
  color:#22A7F0;
  border-left-color: #22A7F0 !important;
}
.pengumuman .deskripsi a:hover{
  color: #22A7F0;

}
.pengumuman .deskripsi a{
  transition: none;
}
    
.berita-terbaru{
  margin-top: 10px;
}

.pengumuman .wrapper-pengumuman{
  padding-left: 10px;
  margin-top: 10px;
}

.orange{
    color: #FF6600;
}

.__header.blog-detail-thumb{
    text-align: center;
}
.__header.blog-detail-thumb img{
    display: inline-block;
    max-height: 400px;
}

.main-nav .__bottom{
  position: absolute;
  z-index: 99;
  width: 100%;
}

.header-phone {
    background-color: #22A7F0;
    width: 40%;
    height: 100px;
    padding: 20px 0 20px 75px;
    position: relative;
    float: left;
}
.header-phone h2{
  font-size: 14px;
  color: white;
}
.header-phone h4{
  font-size: 12px;
  color: white;
}
.header-tagline {
    float: right;
    height: 70px;
    padding: 16px 0;
    text-align: center;
    width: 60%;
    background: #C2C2C2;
    color: white;
}
.triangle-arrow {
    border-right: 58px solid transparent;
    border-top: 100px solid #22A7F0;
    display: block;
    position: absolute;
    height: 0;
    width: 0;
    right: -58px;
    top: 0;
}

.header-phone .kampus1 h2, .header-phone .kampus2 h2 {
    font-size: 12px;
    margin-bottom: 0px;
    font-weight: 600;
    margin-bottom: 10px;
}
.header{
 
}
section.slider{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 65px;
  height: 420px;
}
.flexslider{
  border: none;
}
.flex-direction-nav a {
  top:40%;
}
.panel{
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid transparent;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.panel-aplikasi .aplikasi-icon{
  padding: 20px;
  text-align: center;
}
.panel-aplikasi img{
  width: 75%;
  display: inline;
}

.panel-tautan img{
  margin: 10px;
}

.panel-primary {
    border-color: #22A7F0;
}
.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 20px;
    color: inherit;
}
.panel-primary > .panel-heading {
    color: #fff;
    background-color: #22A7F0;
    border-color: #22A7F0;
}
.panel-heading {
    padding: 5px 15px;
    border-bottom: 1px solid transparent;
    font-size: 18px;
}
.panel-body {
    padding: 15px;
}
.panel-footer {
    padding: 10px 15px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;

    text-align: center;
}

.panel-aplikasi .btn{
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
  background: none;
  border: 1px solid #22a7f0 !important;
  border-radius: 2px;
}
.section-motto h2{
  font-size: 24px;
  font-weight: 600;
  color: white;
}
.section-motto p{
  line-height: 1.5;
  color: white;
}

.section-motto .section-block{
  margin-bottom: 20px;
}
.petalokasi{
  height: 350px;
  border: 2px solid white;
}
#map_lokasi{
  height: 100%;
  width: 100%;
}
.agenda-terbaru{
  margin-bottom: 50px;
}
.agenda-terbaru p{
  line-height: 1;
  font-size: 14px;
  margin-bottom: 10px;
}
.agenda-terbaru .time{
  font-size: 12px;
}
.agenda-terbaru hr{
  margin-bottom: 3px;
  margin-top: 2px;
}
.daftarkkn{
  padding: 20px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}
#beritadanpengumuman img{
  width: 100%;
  height: 250px;
  object-fit: cover;

}

#beritadanpengumuman .post{
  padding-top: 20px;
  padding-bottom: 20px;
}

#beritadanpengumuman .post-left-image .__title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 0;
}

#beritadanpengumuman .post .__main{
  line-height: 1.5;
}
.page-header {
    padding-bottom: 0px;
    margin: 0;
}
#size-header{
  font-size: 18px;
}
.common-header{
  padding-top: 0px;
  height: 200px;
}
.common-header h1{
  text-align: left;
  margin-left: 75px;
}