.bgc-blue{
    background-color: #005DBA;
}
.main-menu > ul > li > a {
    color: white;
}
.megatron.inline .logo {
    width: 250px;
    height: auto;
}
.megatron .logo img {
    width: 300px;
    height: 100%;
}
.pengurus-section{
    padding-top: 20px;
    padding-bottom: 30px;
}
.pengurus-section img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.article .inner{
    padding: 10px;
}

.article .article-image{
    width: 30%;
    float:left;
    padding-right: 10px;
}
.article .deskripsi{
    width: 60%;
    float:left;
    padding-left: 10px;
}
.article .short-desc{
    line-height: 1.8;
}
.article .detail.post{
    padding-bottom: 0px;
}
.article .detail.post .__meta{
    margin-bottom: 0px;
}

.caption-slider .caption-wrapper{
    width: 50%;
    float: right;
}
.caption-slider h1{
    color: white;
    background: rgba(128, 128, 128, 0.50);
    padding: 15px;
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin-bottom: 15px;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.card a{
  white-space: normal;
  font-size: 12px;

}

/* Add some padding inside the card container */
.card .container {
    padding: 8px 10px;
    width: 100%;
}

.adibuana-header{
  padding-left: 15px;
}
.adibuana-header .header{
  font-size: 26px;
}

.adibuana-header .header .icon{
  color: #00B863;
}
span.title{
  font-size: 20px;
  margin-left: 5px;
}
section#middle-section{
  background: #EEEEEE;
  padding-top: 40px;
  padding-bottom: 40px;

}

.pengumuman ul img{
  width: 75px;
  height: 75px;
  object-fit: cover;
  float: left;
  margin-top: 5px;
}
.pengumuman ul .deskripsi{
  float: left;
  margin-left: 10px;
  width: 75%;
}

.berita-terbaru{
  margin-top: 10px;
}

.pengumuman .wrapper-pengumuman{
  padding-left: 10px;
  margin-top: 10px;
}

.orange{
    color: #FF6600;
}